/* Variables */

:root {
    --main-color: #333;
    --secondary-color: #4F4F4F;
    --footer-color: #BDBDBD;
    --title-font: normal bold 48px/71px "Space Mono";
    --header-font: normal bold 24px/25px "Inconsolata";
    --footer-font: normal 500 14px/17px "Montserrat";
}
/*  */